<p class="alert alert-primary">
    Dash Board
</p>
<p class="alert alert-success">
    Leave Management System
</p>
<p class="alert alert-secondary">
    Developed by group .NET 03 -
    <span class="badge badge-warning">Hồng</span>
    <span class="badge badge-primary">Nam</span>
    <span class="badge badge-warning">Thắng</span>
    <span class="badge badge-primary">Thành</span>
</p>